body{
    background-color: #e0b0ff;   
    text-align: center;
}
.h1{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5em;
}

table{
    margin:auto;
    border: 10px solid white;
    border-spacing: 10px;
}

table td{
    width: 65px;
    height: 65px;
    background: gray;
    text-align: center;
    border: 3px solid white;
}

.siyah{
    background: black;
}
img{
    position: relative;
    width: 55px;
    height: 55px;
    top: 0; /*Top değeri girilse bile eleman konum değiştirmez.*/
}